.benefits {
  padding: 100px 0;
  background: #F7F7F7;
}

.benefits__container {
  padding: 0 100px;
}

.benefits__single {
  background-color: white;
  border: 1px solid #E8E9ED;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 37px;
  border-radius: 5px;
}

.benefits__text {
  max-width: 415px;
  padding: 91px 0 91px 35px;
}

.benefits__text::after {
  content: "";
  width: 332px;
  height: 4px;
  background-color: $color-reddish;
  display: block;
  margin-top: 50px;
}

.benefits__title {
  font-family: $font-raleway;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 30px;
}

.benefits__description {
  font-family: $font-open-sans;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 50px;
}

.benefits__image {
  position: relative;
}

.benefits__image img {
  position: relative;
  z-index: 2;
}

.benefits__single-notebook .benefits__image {
  margin-right: 117px;
  margin-bottom: 38px;
}

.benefits__image {
  position: relative;
}

.benefits__image img {
  position: relative;
  z-index: 2;
}

.benefits__single-notebook .benefits__image img {
  width: 386px;
  height: auto;
}

.benefits__single-notebook .benefits__image::before {
  content: "";
  display: block;
  position:absolute;
  width: 180px;
  height: 180px;
  background: $color-reddish;
  right: 0;
  top: -40px;
  transform: rotate(45deg);
  border-radius: 40px;
}

.benefits__single-phone {
  flex-direction: row-reverse;
  padding: 0 20px 0 70px;
}

.benefits__text-phone::after {
  content: "";
  width: 332px;
  height: 4px;
  background: $color-primary;
  display: block;
  margin-top: 50px;
}

.benefits__single-phone .benefits__image::before {
  content: "";
  display: block;
  background: #07ACE6;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -20px;
}

.benefits__single-phone .benefits__image img {
  width: 426px;
  height: auto;
}

.benefits__double {
  display: flex;
}

.benefits__double > div {
  margin-bottom: 0;
}

.benefits__single-solo {
  max-width: 620px;
}

.benefits__single-solo .benefits__text {
  margin-right: 70px;
}

.benefits__single-image {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-secondary;
  margin-left: 60px;
}

.benefits__single-image img {
  width: 295px;
  height: auto;
  margin-top: 55px;
}

.benefits__text-solo::after {
  content: "";
  width: 332px;
  height: 4px;
  background-color: $color-secondary;
  display: block;
  margin-top: 50px;
}