.calc {
  padding: 100px 0;
  background-color: #F7F7F7FF;
  margin-top: 50px;

  @media only screen and (max-width: 1050px) {
    padding: 30px 15px;
  }

  h2 {
    font-family: $font-raleway;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
  }

  &__columns {
    max-width: 865px;
    margin: 50px auto 0;
    display: flex;

    @media only screen and (max-width: 1050px) {
      display: block;
    }
  }

  &__form {
    width: 50%;
    margin-right: 20px;

    @media only screen and (max-width: 1050px) {
      width: 100%;
      margin-right: 0;
    }
  }


  &__input input,
  &__select .select__input {
    color: #A5A5A5;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #08A6E4;
    padding: 11px 20px;
    line-height: 1em;
    font-size: 0.8125rem;
    box-shadow: 0 3px 6px #07ACE628;
    margin-bottom: 20px;
    background-color: white;
  }

  &__input {
    input {
      &::placeholder {
        color: #A5A5A5;
        font-family: $font-open-sans;
        font-weight: 400
      }
    }
  }

  &__select {
    position: relative;

    .select__input {
      position: relative;
      height: 40px;
      vertical-align: middle;
      padding: 13px 20px;
      cursor: pointer;
      font-family: $font-open-sans;
      font-weight: 400;

      &::after {
        content: "";
        background-image: url("../../assets/Arrow.png");
        width: 22px;
        height: 22px;
        display: block;
        position: absolute;
        right: 14px;
        top: 9px;
      }
    }

    .select__dropdown {
      display: none;
      position: absolute;
      z-index: 1;
      background-color: white;
      width: 100%;
      border-radius: 6px;
      border: 1px solid #FB3B64;
      overflow: hidden;

      li {
        font-size: 13px;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
          background-color: #E8E9ED;
        }
      }
    }


    &.open {
      .select__input::after {
        transform: rotate(180deg);
      }

      .select__dropdown {
        display: block;
      }
    }
  }

  .form__checkbox {
    .consent__text {
      padding-top: 4px;
    }
  }

  &__summary {
    width: 50%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 1050px) {
      width: 100%;
      margin-left: 0;
      margin-top: 30px;
    }

    .summary__total,
    .list__item {
      box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
      border-radius: 6px;
      justify-content: space-between;
      align-items: center;
      color: white;
      font-size: 0.875rem;
      display: none;

      &.open {
        display: flex;
      }
    }

    .summary__total {
      width: 50%;
      align-self: flex-end;
      margin-top: 22px;
      padding: 8px 20px;
      background-color: #08A6E4;

      .total__price {
        font-size: 1.25rem;
        font-weight: 700;
      }
    }

    .list__item {
      padding: 6px 20px;
      background-color: #55DFB4;
      margin-bottom: 8px;

      .item {
        &__price {
          font-weight: 700;
          font-size: 1.125rem;
        }
      }
    }
  }
}