.pricing {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing__title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.pricing__title {
  font-family: Raleway, sans-serif;
  font-size: 36px;
  line-height: 42px;
}

.pricing__boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

  @media only screen and (max-width: 1050px) {
    flex-direction: column;
  }
}

.pricing__box {
  width: 370px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $color-reddish;

  @media only screen and (max-width: 1050px) {
    margin-bottom: 40px;
  }
}

.pricing__details {
  margin-top: 34px;
  margin-bottom: 60px;
  text-align: center;
}

.pricing__type {
  font-size: 1.25rem;
  font-family: Raleway, sans-serif;
  font-weight: 700;
}

.pricing__price {
  font-size: 2.875rem;
  font-family: $font-open-sans;
  font-weight: 300;
  margin-top: 25px;
  color: $color-reddish;
}

.pricing__limited {
  text-align: center;
  margin-top: 15px;
  font-size: 0.75rem;
  font-family: Raleway, sans-serif;
  font-weight: 700;
}

.pricing__items {
  text-align: center;

}

.pricing__item {
  margin-bottom: 20px;
  font-family: $font-open-sans;
  font-size: 14px;
  font-weight: 400;
}

.pricing__item::before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  background-image: url("../../assets/Ckechmark-1.svg");
}

.pricing__item--not::before {
  background-image: url("../../assets/Close.svg");
}
.pricing__box .btn {
  position: relative;
  bottom: -25px;
  font-size: 0.8125rem;
  background: $color-reddish;
}

.pricing__box--basic .pricing__price {
  margin-bottom: 30px;
}

.pricing__box--professional {
  width: 400px;
  margin: 0 40px;
  box-shadow: 5px 1px 27px #07ACE629;
  border-color: #07ACE6;

  @media only screen and (max-width: 1050px) {
    margin-bottom: 40px;
  }
}

.pricing__box--professional .pricing__type {
  font-size: 1.3125rem;
}

.pricing__box--professional .pricing__item {
  margin-bottom: 25px;
}

.pricing__box--premium {
  border-color: $color-secondary;
}

.btn {
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 16px 65px;
  border-radius: 23px;
  border: none;
  text-decoration: none;
}

.pricing__box a.btn--prof {
  background: #009bd4;
  font-family: $font-open-sans;
  font-size: 13px;
  font-weight: 700;
}

.pricing__box a.btn--premium {
  background: $color-secondary;
  font-family: $font-open-sans;
  font-size: 13px;
  font-weight: 700;
}

.btn-pricing {
  font-family: $font-open-sans;
  font-size: 13px;
  font-weight: 700;
}